<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Spring Boot</title>
    </head>
    <body>  ghgh   
        <p th:text="${saludo}" />
    </body>
</html>